<% layout('layouts/boilerplate')%>
    <h1>ALL WINDSPOTS</h1>
    <ul>
        <% for (let windspot of windspots){%>            
        <div class="card mb-3">
            <div class="row ">
                <div class="col-md-4">
                    <%if(windspot.images.length) {%>
                    <img class="rounded img-thumbnail image-fluid m-3 " src="<%=windspot.images[0].url%> " alt="">
                    <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= windspot.title %></h5>
                        <p class="card-text"><%= windspot.description %> </p>
                        <p class="card-text"><%= windspot.location %> </p>                        
                        <a class="btn btn-primary" href="/windspots/<%= windspot._id %> ">Ver</a>
                    </div>
                </div>
            </div>



        </div>

        <% }%> 
    </ul>
     <a href="/windspots/new">New WindSpot</a>
